#bodyid{
    background-color:rgb(69, 138, 248);
    width: 100%;
    height: 100%; 
        background-repeat: no-repeat;
  }
  #bodyid1{
    background-color:rgb(69, 138, 248);
    width: 100%;
    height: 100%; 
    background-repeat: repeat-x;
  }
  #bodyid2{
    background-color:rgb(69, 138, 248);
        width: 100%;
        height: 100%;    
    background-repeat: no-repeat;
  }
  #bodyid3{
    background-color:rgb(69, 138, 248);
    width: 100%;
    height: 100%; 
    background-repeat: no-repeat;
    background-repeat: repeat-y;
  }
  #divid
  {
    background-image: url("../html/background.jpg");
    border: 1px;
   width:100%;
   height: 100%;  
    border-style: solid;
   border-color: black;
   text-align: center;
   font-style:Arial, sans-serif;
   font-size:medium;
  }
  #header_id
  {
  height: 90px;
  
  }
  
  
  
  
  #divid1
  {
    border: 1px;
    border-color: black;
    text-align: left;
    font-style:Arial, sans-serif;
    inline-size: 0px;
  }
  #imgid
  {
    border: 1px;
    text-align:center;
  }
   
  #footerid
  {
    background-color:white;
    border: 1px;
    border-style: solid;
    border-color:white;
  }
  
  #idliimg{
    padding: 2px 10px;
    margin:10px; 
    display: inline-block;
    text-decoration: none;
  }
  #minhafoto
  {
    position: relative; 
    height: 600px;
    width: 350px;  
    margin: 15px; 
    display: inline-block
  
  }
  #idli {
    position: relative;
    padding: 2px 10px;
    margin:27px;
    
    display: inline-block;
    background-color:brown;
    text-decoration: none;
     border:1px;
    border-color:white;
    width: 110px;
    height:50px;
    font-style:italic;
    font-size: 26px;
    color:#EDEDED;
}
               

#idlu{
  padding:0px;
  margin:0px;
  border:1px;
  border-style:solid;
  list-style:none;
   top:auto;

  background-image: url("../Html/background_menu.png");
}
#menu_img
{
  width: 50px;
  height: 50px; 
  margin: 10px;
  text-align: center;
  

}
#id_textarea
{
  width: 400px;
  height: 200px;
}
#input_id
{
  width: 400px;
}